/* write your override styles here */


#wall .tag-1 {
    display: none;
    /* Additional properties to ensure specificity */
    width: 100px;
    height: 100px;
    background: transparent;
  }
  
  #wall #tag-2 {
    display: none;
    /* Additional properties to ensure specificity */
    width: 100px;
    height: 100px;
    background: transparent;
  }
  
  #wall #tag-3 {
    display: none;
    
    width: 100px;
    height: 100px;
    background: transparent;
  }
  
  #wall #tag-4 {
    display: none;
    
    width: 100px;
    height: 100px;
    background: transparent;
  }
  
  #wall #tag-5 {
    display: none;
  
    width: 100px;
    height: 100px;
    background: transparent;
  }
  
  #wall #tag-6 {
    display: none;
    
    width: 100px;
    height: 100px;
    background: transparent;
  }
  
  #wall #tag-7 {
    display: none;

    width: 100px;
    height: 100px;
    background: transparent;
  }
  
  
  .slick {
    display: none;
    
    width: 100px;
    height: 100px;
    background: transparent;
  }
  
  .wicked {
    display: none;
   
    width: 100px;
    height: 100px;
    background: transparent;
  }
  
 
  .parent div {
    display: none;
 
    width: 100px;
    height: 100px;
    background: transparent;
  }
  
 
  